.countdown
{
    font-family: 'Edu SA Beginner', cursive;
    background-color: antiquewhite;
}

.countdown .divs
{
    @media (min-width: 768px) {
        height: 100vh;
    }
}

.countdown , .left , img
{
    width: 100%;
    object-fit: contain;
}

.countdown , .right , img
{
    width: 100%;
}

.clock
{
    overflow: hidden;
}

.num
{
    font-size: 2rem;
    color: white;
}

.text
{
    font-size: 1.5rem;
    color: white;
}

.top-pane 
{
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    background-color: #34495E;
    border: 0px;
}
  
.bottom-pane 
{
    margin-top: 0px;
    border-radius: 0px 0px 5px 5px;
    background-color: #2C3E50;
    border: 0px;
}

h1
{
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 3.5rem !important;
}

p
{
    font-size: 1.1rem;
}